html {
	background-color: #cfcfcf;
}
nav {
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
	font-family: serif;
	font-size: 26px;
}
#linkLeft {
	padding-right: 20px;
}
#linkRight {
	padding-left: 20px;
}
h1 {
	text-align: center;
	font-family: sans-serif;
	text-decoration: underline;
	padding-top: 10px;
}
#col1 {
	float: left;
	text-align: center;
	font-size: 21px;
	width: 50%;
	margin: auto;
	margin-left: 10px;
}
#col2 {
	text-align: center;
	font-size: 21px;
	margin: auto;
}